table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 7px;
}

h1 {
    text-align: center;
}

th {
    background-color: beige;
}

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

#updateformdiv label, input {
        margin: 3px;
        padding: 5px;
}

#updateformdiv lablel {

        font-weight: bolder;
 }
#updateformdiv button {
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}




#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

 #formdiv label, input {
        margin: 3px;
        padding: 5px;
 }

#formdiv lablel {
        font-weight: bolder;
    }

#formdiv button {
        padding: 6px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
